* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: fit-content;
    background-color: #23252c;

    display: flex;
    align-items: center;
    justify-content: center;
}
